<link rel = "stylesheet" href = "/assets/leaflet/leaflet.css" />
<script src = "/assets/leaflet/leaflet.js"></script>

<div id="main">
<div id="map"></div>
<div id="right">
  <div id="query">
    <a href="#" onClick="places.clear(); sel.clear()">Clear</a>
    <a href="#" onClick="doQuery()">Query</a>
  </div>
  <div id="list"></div>
</div>
</div>

<style>
#main {
  display: grid;
  grid-template-columns:66% 34%;
  grid-template-height:700px;
}

#map { height: 600px; }

#right {
   overflow:scroll;
   height: 600px;
}

#query, #list div {
  background-color: #f0f0f0;
  padding: 5px;
  margin: 20px;
}

#query:hover, #list div:hover {
  border: 1px solid #0000ff;
}

#list div b {
  color: #0000ff;
}
</style>

<script src="/assets/map.js"></script>
