<html>
  <head>
    <title>Äppelwoi</title>
    <style>
      body {
        font-family: Verdana, Arial;
      }
      h1 {
        background-image: url("/assets/bembel_small.png");
	height:64px;
	border-bottom: 1px solid blue;
	background-clip: padding-box;
        background-repeat: no-repeat;
	padding-left: 64px;
	padding-top:10px;
	font-family: "UnPilgi", Verdana;
        font-weight: bold;
	color: blue;
      }
      h2 {
	color: blue;
      }
      a {
	color: blue;
      }
    </style>
  </head>
  <body>
    <h1><a href="/">Äppelwoi</a></h1>
    {{{content}}}
  </body>
</html>
